header {
  background-color: #EC3A49;
  color: white;
  text-align: center;
  padding: 0 20px;
}
header h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
}
button{
  border-color: transparent;
  outline-color: transparent;
}
button:hover{
  border-color: transparent !important;
  outline-color: transparent !important;
}
button:disabled{
  border-color: transparent !important;
  outline-color: transparent !important;
}
@media (max-width: 400px) {
  .contenido-favoritos{
    display: block !important;
  }
  .contenido-favoritos .col{
    padding: 2px !important;
  }
  .offcanvas-body ul{
    list-style: none !important;
    padding: 10px !important;
  }
}